.film-box-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0px;
  margin: 2rem;
}

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: "Arial", sans-serif;
}

.game-content {
  flex-grow: 1;
}

.game-mode-indicator {
  position: absolute;
  top: 75px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.game-mode-indicator.easy {
  background-color: #c0aa6c;
  color: white;
}

.game-mode-indicator.hard {
  background-color: #913838;
  color: white;
}

.slide {
  height: 4rem;
  z-index: 2;
}

.link-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-box-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10rem;
}

.link-box-item img {
  align-self: center;
  margin: auto;
}

.left {
  text-align: right;
  justify-content: right;
  margin-right: 0;
}

.right {
  margin-left: 0;
}

.middle {
  width: 6rem;
}

.controls-header-container {
  position: absolute;
  top: 5px;
  right: 25px;
  z-index: 1000;
}

.toggle-btn img {
  height: 3rem;
  border-radius: 3rem;
  transition-duration: 0.3s;
}

.toggle-btn img:hover {
  box-shadow: 0 0 0.3rem 0.2rem #f3b95c;
}
