.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100px;
    background-color: #66cdea;
    color: white;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }