:root {
  --navbar-height: 150px;
  --navbar-minimized-height: 90px;
}

.header-container {
  margin-top: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #7a785b00;
  position: fixed;
  top: 0; /* Position at the top of the viewport */
  left: 0; /* This is to ensure it starts from the left edge */
  right: 0; /* This is to ensure it extends to the right edge */
  height: var(--navbar-height);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  z-index: 3000;
  transition: all 0.3s ease;
}

/* Class for minimized navbar */
.header.minimized {
  height: var(--navbar-minimized-height);
  padding: 0.5rem 2rem;
}

/* This is to prevent content from hiding behind the navbar */
body {
  padding-top: 300px;
  margin-top: 200px;
}

/* This ensures that anchors and scroll targets account for the navbar */
html {
  scroll-padding-top: 300px;
}

