* {
  box-sizing: border-box;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: 'Arial', sans-serif;
  }

  .home-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .home-title {
    font-size: 3rem;
    font-weight: bold;
    color: #a4b646; /* Netflix red */
    margin-bottom: 1rem;
    text-shadow: 2px 2px #000;
    font-family: 'Archivo Black', sans-serif;


  }