:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(34, 34, 34);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: rgb(35, 34, 34);
  --text-color: rgba(255, 255, 255, 0.87);
  --button-bg-color: #1a1a1a;
  --button-hover-border-color: #646cff;

  /* Light mode variables */
  --film-box-shadow-color: #c0aa6c; /* Gold-ish shadow for light mode */
  --film-background-color: #f9f9f9;
  --film-border-color: #ccc;
  --film-text-color: #201f1f;
  --film-secondary-text-color: #666;
  --film-card-background-color: #eaeaea;
  --film-shadow-color: #fcfcfc;
}

[data-theme="light"],
html.light {
  --background-color: #ffffff;
  --text-color: #213547;
  --button-bg-color: #f9f9f9;
  --button-hover-border-color: #747bff;
  background-color: #ffffff; /* Apply background directly to html element */
}

[data-theme="dark"],
html.dark {
  /* Dark mode variables */
  --film-box-shadow-color: #c0aa6c; /* Gold-ish shadow for dark mode */
  --film-background-color: #333;
  --film-border-color: #555;
  --film-text-color: #f9f9f9;
  --film-secondary-text-color: #aaa;
  --film-card-background-color: #444;
  --film-shadow-color: #000;
  background-color: rgb(
    0,
    0,
    0
  ); /* Apply background directly to html element */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
